/*

   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

*/

.b--black {
    border-color: var(--black);
}

.b--white {
    border-color: var(--white);
}

.b--white-90 {
    border-color: var(--white-90);
}

.b--white-80 {
    border-color: var(--white-80);
}

.b--white-70 {
    border-color: var(--white-70);
}

.b--white-60 {
    border-color: var(--white-60);
}

.b--white-50 {
    border-color: var(--white-50);
}

.b--white-40 {
    border-color: var(--white-40);
}

.b--white-30 {
    border-color: var(--white-30);
}

.b--white-20 {
    border-color: var(--white-20);
}

.b--white-10 {
    border-color: var(--white-10);
}

.b--white-05 {
    border-color: var(--white-05);
}

.b--white-025 {
    border-color: var(--white-025);
}

.b--white-0125 {
    border-color: var(--white-0125);
}

.b--black-90 {
    border-color: var(--black-90);
}

.b--black-80 {
    border-color: var(--black-80);
}

.b--black-70 {
    border-color: var(--black-70);
}

.b--black-60 {
    border-color: var(--black-60);
}

.b--black-50 {
    border-color: var(--black-50);
}

.b--black-40 {
    border-color: var(--black-40);
}

.b--black-30 {
    border-color: var(--black-30);
}

.b--black-20 {
    border-color: var(--black-20);
}

.b--black-10 {
    border-color: var(--black-10);
}

.b--black-05 {
    border-color: var(--black-05);
}

.b--black-025 {
    border-color: var(--black-025);
}

.b--black-0125 {
    border-color: var(--black-0125);
}

/* SG Colors */

.b--marine-lightest {
    border-color: var(--marine-lightest);
}

.b--marine-light {
    border-color: var(--marine-light);
}

.b--marine {
    border-color: var(--marine);
}

.b--marine-dark {
    border-color: var(--marine-dark);
}

.b--marine-darkest {
    border-color: var(--marine-darkest);
}

.b--desktop-lightest {
    border-color: var(--desktop-lightest);
}

.b--desktop-light {
    border-color: var(--desktop-light);
}

.b--desktop {
    border-color: var(--desktop);
}

.b--desktop-dark {
    border-color: var(--desktop-dark);
}

.b--desktop-darkest {
    border-color: var(--desktop-darkest);
}

.b--sunray-lightest {
    border-color: var(--sunray-lightest);
}

.b--sunray-light {
    border-color: var(--sunray-light);
}

.b--sunray {
    border-color: var(--sunray);
}

.b--sunray-dark {
    border-color: var(--sunray-dark);
}

.b--sunray-darkest {
    border-color: var(--sunray-darkest);
}

.b--apricot-lightest {
    border-color: var(--apricot-lightest);
}

.b--apricot-light {
    border-color: var(--apricot-light);
}

.b--apricot {
    border-color: var(--apricot);
}

.b--apricot-dark {
    border-color: var(--apricot-dark);
}

.b--apricot-darkest {
    border-color: var(--apricot-darkest);
}

.b--eggplant-lightest {
    border-color: var(--eggplant-lightest);
}

.b--eggplant-light {
    border-color: var(--eggplant-light);
}

.b--eggplant {
    border-color: var(--eggplant);
}

.b--eggplant-dark {
    border-color: var(--eggplant-dark);
}

.b--eggplant-darkest {
    border-color: var(--eggplant-darkest);
}

.b--overcast-lightest {
    border-color: var(--overcast-lightest);
}

.b--overcast-light {
    border-color: var(--overcast-light);
}

.b--overcast {
    border-color: var(--overcast);
}

.b--overcast-dark {
    border-color: var(--overcast-dark);
}

.b--overcast-darkest {
    border-color: var(--overcast-darkest);
}

.b--moonstone-lightest {
    border-color: var(--moonstone-lightest);
}

.b--moonstone-light {
    border-color: var(--moonstone-light);
}

.b--moonstone {
    border-color: var(--moonstone);
}

.b--moonstone-dark {
    border-color: var(--moonstone-dark);
}

.b--moonstone-darkest {
    border-color: var(--moonstone-darkest);
}

.b--jet-lightest {
    border-color: var(--jet-lightest);
}

.b--jet-light {
    border-color: var(--jet-light);
}

.b--jet {
    border-color: var(--jet);
}

.b--jet-dark {
    border-color: var(--jet-dark);
}

.b--jet-darkest {
    border-color: var(--jet-darkest);
}

.b--cloud-lightest {
    border-color: var(--cloud-lightest);
}

.b--cloud-light {
    border-color: var(--cloud-light);
}

.b--cloud {
    border-color: var(--cloud);
}

.b--cloud-dark {
    border-color: var(--cloud-dark);
}

.b--cloud-darkest {
    border-color: var(--cloud-darkest);
}

.b--outlook {
    border-color: var(--outlook);
}

.b--sharepoint {
    border-color: var(--sharepoint);
}

.b--teams {
    border-color: var(--teams);
}

.b--planner {
    border-color: var(--planner);
}

.b--transparent {
    border-color: var(--transparent);
}

.b--inherit {
    border-color: inherit;
}

/* Allows to reference a primary and secondary color */

.b--primary {
    border-color: var(--primary);
}

.b--secondary {
    border-color: var(--secondary);
}