/*

   BORDER COLORS PSEUDO
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

*/

.hover-b--black:hover, .hover-b--black:focus {
    border-color: var(--black);
}

.hover-b--white:hover, .hover-b--white:focus {
    border-color: var(--white);
}

.hover-b--white-90:hover, .hover-b--white-90:focus {
    border-color: var(--white-90);
}

.hover-b--white-80:hover, .hover-b--white-80:focus {
    border-color: var(--white-80);
}

.hover-b--white-70:hover, .hover-b--white-70:focus {
    border-color: var(--white-70);
}

.hover-b--white-60:hover, .hover-b--white-60:focus {
    border-color: var(--white-60);
}

.hover-b--white-50:hover, .hover-b--white-50:focus {
    border-color: var(--white-50);
}

.hover-b--white-40:hover, .hover-b--white-40:focus {
    border-color: var(--white-40);
}

.hover-b--white-30:hover, .hover-b--white-30:focus {
    border-color: var(--white-30);
}

.hover-b--white-20:hover, .hover-b--white-20:focus {
    border-color: var(--white-20);
}

.hover-b--white-10:hover, .hover-b--white-10:focus {
    border-color: var(--white-10);
}

.hover-b--white-05:hover, .hover-b--white-05:focus {
    border-color: var(--white-05);
}

.hover-b--white-025:hover, .hover-b--white-025:focus {
    border-color: var(--white-025);
}

.hover-b--white-0125:hover, .hover-b--white-0125:focus {
    border-color: var(--white-0125);
}

.hover-b--black-90:hover, .hover-b--black-90:focus {
    border-color: var(--black-90);
}

.hover-b--black-80:hover, .hover-b--black-80:focus {
    border-color: var(--black-80);
}

.hover-b--black-70:hover, .hover-b--black-70:focus {
    border-color: var(--black-70);
}

.hover-b--black-60:hover, .hover-b--black-60:focus {
    border-color: var(--black-60);
}

.hover-b--black-50:hover, .hover-b--black-50:focus {
    border-color: var(--black-50);
}

.hover-b--black-40:hover, .hover-b--black-40:focus {
    border-color: var(--black-40);
}

.hover-b--black-30:hover, .hover-b--black-30:focus {
    border-color: var(--black-30);
}

.hover-b--black-20:hover, .hover-b--black-20:focus {
    border-color: var(--black-20);
}

.hover-b--black-10:hover, .hover-b--black-10:focus {
    border-color: var(--black-10);
}

.hover-b--black-05:hover, .hover-b--black-05:focus {
    border-color: var(--black-05);
}

.hover-b--black-025:hover, .hover-b--black-025:focus {
    border-color: var(--black-025);
}

.hover-b--black-0125:hover, .hover-b--black-0125:focus {
    border-color: var(--black-0125);
}

.hover-b--alert-lightest:hover, .hover-b--alert-lightest:focus {
    border-color: var(--alert-lightest);
}

.hover-b--alert-light:hover, .hover-b--alert-light:focus {
    border-color: var(--alert-light);
}

.hover-b--alert:hover, .hover-b--alert:focus {
    border-color: var(--alert);
}

.hover-b--alert-dark:hover, .hover-b--alert-dark:focus {
    border-color: var(--alert-dark);
}

.hover-b--alert-darkest:hover, .hover-b--alert-darkest:focus {
    border-color: var(--alert-darkest);
}

.hover-b--success-lightest:hover, .hover-b--success-lightest:focus {
    border-color: var(--success-lightest);
}

.hover-b--success-light:hover, .hover-b--success-light:focus {
    border-color: var(--success-light);
}

.hover-b--success:hover, .hover-b--success:focus {
    border-color: var(--success);
}

.hover-b--success-dark:hover, .hover-b--success-dark:focus {
    border-color: var(--success-dark);
}

.hover-b--success-darkest:hover, .hover-b--success-darkest:focus {
    border-color: var(--success-darkest);
}

.hover-b--transparent:hover, .hover-b--transparent:focus {
    border-color: var(--transparent);
}

.hover-b--inherit:hover, .hover-b--inherit:focus {
    border-color: inherit;
}

.hover-b--decathlon:hover, .hover-b--decathlon:focus {
    border-color: var(--decathlon);
}

.hover-b--decathlon-light:hover, .hover-b--decathlon-light:focus {
    border-color: var(--decathlon-light);
}

.hover-b--yellowgram:hover, .hover-b--yellowgram:focus {
    border-color: var(--yellowgram);
}

/* Allows to reference a primary and secondary color */

.hover-b--primary:hover, .hover-b--primary:focus {
    border-color: var(--primary);
}

.hover-b--primary-dark:hover, .hover-b--primary-dark:focus {
    border-color: var(--primary-dark);
}

.hover-b--primary-darkest:hover, .hover-b--primary-darkest:focus {
    border-color: var(--primary-darkest);
}

.hover-b--primary-light:hover, .hover-b--primary-light:focus {
    border-color: var(--primary-light);
}

.hover-b--primary-lightest:hover, .hover-b--primary-lightest:focus {
    border-color: var(--primary-lightest);
}

.hover-b--secondary:hover, .hover-b--secondary:focus {
    border-color: var(--secondary);
}