:root {
    --black: #000;
    --white: #fff;
    --transparent: transparent;
    --black-90: rgba(0, 0, 0, .9);
    --black-80: rgba(0, 0, 0, .8);
    --black-70: rgba(0, 0, 0, .7);
    --black-60: rgba(0, 0, 0, .6);
    --black-50: rgba(0, 0, 0, .5);
    --black-40: rgba(0, 0, 0, .4);
    --black-30: rgba(0, 0, 0, .3);
    --black-20: rgba(0, 0, 0, .2);
    --black-10: rgba(0, 0, 0, .1);
    --black-05: rgba(0, 0, 0, .05);
    --black-025: rgba(0, 0, 0, .025);
    --black-0125: rgba(0, 0, 0, .0125);
    --white-90: rgba(255, 255, 255, .9);
    --white-80: rgba(255, 255, 255, .8);
    --white-70: rgba(255, 255, 255, .7);
    --white-60: rgba(255, 255, 255, .6);
    --white-50: rgba(255, 255, 255, .5);
    --white-40: rgba(255, 255, 255, .4);
    --white-30: rgba(255, 255, 255, .3);
    --white-20: rgba(255, 255, 255, .2);
    --white-10: rgba(255, 255, 255, .1);
    --white-05: rgba(255, 255, 255, .05);
    --white-025: rgba(255, 255, 255, .025);
    --white-0125: rgba(255, 255, 255, .0125);
    /* Marine Blue */
    --marine-lightest: #6E778B;
    --marine-light: #263350;
    --marine: #0E1C3D;
    --marine-dark: #0A142B;
    --marine-darkest: #040914;
    /* Desktop */
    --desktop-lightest: #FFF7F2;
    --desktop-light: #F8B385;
    --desktop: #F47321;
    --desktop-dark: #DC681F;
    --desktop-darkest: #C35D1B;
    /* Sunray */
    --sunray-lightest: #FEF1D7;
    --sunray-light: #FDCD72;
    --sunray: #FCB736;
    --sunray-dark: #E3A531;
    --sunray-darkest: #CA922B;
    /* Apricot */
    --apricot-lightest: #E3F0F0;
    --apricot-light: #98E8DE;
    --apricot: #2BBCAA;
    --apricot-dark: #26A797;
    --apricot-darkest: #1D9687;
    /* Eggplant */
    --eggplant-lightest: #DDD7DC;
    --eggplant-light: #9C8897;
    --eggplant: #5A3951;
    --eggplant-dark: #513349;
    --eggplant-darkest: #3F2839;
    /* Overcast */
    --overcast-lightest: #FAFCFF;
    --overcast-light: #A6D5FF;
    --overcast: #2096FF;
    --overcast-dark: #135999;
    --overcast-darkest: #0D3C66;
    /* Moonstone */
    --moonstone-lightest: #F1F8F8;
    --moonstone-light: #C8E2E1;
    --moonstone: #76B6B5;
    --moonstone-dark: #5E9291;
    --moonstone-darkest: #476D6D;
    /* Jet */
    --jet-lightest: #F6F7F8;
    --jet-light: #85858A;
    --jet: #34343C;
    --jet-dark: #24242A;
    --jet-darkest: var(--black);
    /* Cloud */
    --cloud-lightest: #F5F7F8;
    --cloud-light: #EDF0F2;
    --cloud: #D4D6DB;
    --cloud-dark: #A8AFBD;
    --cloud-darkest: #828A9E;
    /* Prune */
    --prune-lightest: #E8D4E3;
    --prune-light: #CFA6C4;
    --prune: #AD669A;
    --prune-dark: #A3538D;
    --prune-darkest: #95387B;
    /* Blueberry */
    --blueberry-lightest: #BEDBEA;
    --blueberry-light: #60ACD0;
    --blueberry: #0B80B7;
    --blueberry-dark: #006BA8;
    --blueberry-darkest: #005391;
    /* Cherry */
    --cherry-lightest: #E9CECE;
    --cherry-light: #C17474;
    --cherry: #A12D2D;
    --cherry-dark: #941212;
    --cherry-darkest: #720000;
    /* Alest */
    --alert-lightest: #FFD3D9;
    --alert-light: #FF6675;
    --alert: #FC1242;
    --alert-dark: #DB012D;
    --alert-darkest: #AE001E;
    /* Success */
    --success-lightest: #C9FFE0;
    --success-light: #4DEF93;
    --success: #1DCE6A;
    --success-dark: #00A447;
    --success-darkest: #00853A;
    /* Vendors */
    --outlook: #2873ba;
    --sharepoint: #2873ba;
    --teams: #575aa7;
    --planner: #33763a;
    --one-drive: #0045F5;
    /* References */
    --primary: var(--apricot);
    --primary-dark: var(--apricot-dark);
    --primary-darkest: var(--apricot-darkest);
    --primary-light: var(--apricot-light);
    --primary-lightest: var(--apricot-lightest);
    --secondary: var(--marine);
    --transparent: transparent;
}