:root {
    --scale-alpha: .25rem;
    /* 4px */
    --scale-bravo: .5rem;
    /* 8px */
    --scale-charlie: .75rem;
    /* 12px */
    --scale-delta: 1rem;
    /* 16px */
    --scale-echo: 1.25rem;
    /* 20px */
    --scale-foxtrot: 1.5rem;
    /* 24px */
    --scale-golf: 2rem;
    /* 32px */
    --scale-hotel: 2.5rem;
    /* 40px */
    --scale-india: 3rem;
    /* 48px */
    --scale-juliett: 3.5rem;
    /* 56px */
    --scale-kilo: 4rem;
    /* 64px */
    --scale-lima: 4.5rem;
    /* 72px */
    --scale-mike: 5rem;
    /* 80px */
}