:root {
    --black: #000;
    --white: #fff;
    --transparent: transparent;
    --black-90: rgba(0, 0, 0, .9);
    --black-80: rgba(0, 0, 0, .8);
    --black-70: rgba(0, 0, 0, .7);
    --black-60: rgba(0, 0, 0, .6);
    --black-50: rgba(0, 0, 0, .5);
    --black-40: rgba(0, 0, 0, .4);
    --black-30: rgba(0, 0, 0, .3);
    --black-20: rgba(0, 0, 0, .2);
    --black-10: rgba(0, 0, 0, .1);
    --black-05: rgba(0, 0, 0, .05);
    --black-025: rgba(0, 0, 0, .025);
    --black-0125: rgba(0, 0, 0, .0125);
    --white-90: rgba(255, 255, 255, .9);
    --white-80: rgba(255, 255, 255, .8);
    --white-70: rgba(255, 255, 255, .7);
    --white-60: rgba(255, 255, 255, .6);
    --white-50: rgba(255, 255, 255, .5);
    --white-40: rgba(255, 255, 255, .4);
    --white-30: rgba(255, 255, 255, .3);
    --white-20: rgba(255, 255, 255, .2);
    --white-10: rgba(255, 255, 255, .1);
    --white-05: rgba(255, 255, 255, .05);
    --white-025: rgba(255, 255, 255, .025);
    --white-0125: rgba(255, 255, 255, .0125);
    /* Decathlon colours */
    --yellowgram: #ffea28;
    --yellowgram-light: #aabdb9;
    --decathlon-lightest: #70A6D2;
    --decathlon-light: #117ab5;
    --decathlon: #0082c3;
    --decathlon-dark: #0A6FA6;
    --decathlon-darkest: #056093;
     /* Cloud */
    --cloud-lightest: #F5F7F8;
    --cloud-light: #EDF0F2;
    --cloud: #D4D6DB;
    --cloud-dark: #A8AFBD;
    --cloud-darkest: #828A9E;
    /* Jet */
    --jet: #302F2F;
    --jet-dark: #232323;
    /* Marine */
    /* Alert */
    --alert-lightest: #FFD3D9;
    --alert-light: #FF6675;
    --alert: #FC1242;
    --alert-dark: #DB012D;
    --alert-darkest: #AE001E;
    /* Success */
    --success-lightest: #C9FFE0;
    --success-light: #4DEF93;
    --success: #1DCE6A;
    --success-dark: #00A447;
    --success-darkest: #00853A;
    /* References */
    --primary: var(--decathlon);
    --primary-dark: var(--decathlon-dark);
    --primary-darkest: var(--decathlon-darkest);
    --primary-light: var(--decathlon-light);
    --primary-lightest: var(--decathlon-lightest);
    --secondary: var(--marine);
    --transparent: transparent;
}