/* 
  
   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.
 
 */

.hover-black:hover, .hover-black:focus {
    color: var(--black);
}

.hover-white:hover, .hover-white:focus {
    color: var(--white);
}

.hover-black-90:hover, .hover-black-90:focus {
    color: var(--black-90);
}

.hover-black-80:hover, .hover-black-80:focus {
    color: var(--black-80);
}

.hover-black-70:hover, .hover-black-70:focus {
    color: var(--black-70);
}

.hover-black-60:hover, .hover-black-60:focus {
    color: var(--black-60);
}

.hover-black-50:hover, .hover-black-50:focus {
    color: var(--black-50);
}

.hover-black-40:hover, .hover-black-40:focus {
    color: var(--black-40);
}

.hover-black-30:hover, .hover-black-30:focus {
    color: var(--black-30);
}

.hover-black-20:hover, .hover-black-20:focus {
    color: var(--black-20);
}

.hover-black-10:hover, .hover-black-10:focus {
    color: var(--black-10);
}

.hover-white-90:hover, .hover-white-90:focus {
    color: var(--white-90);
}

.hover-white-80:hover, .hover-white-80:focus {
    color: var(--white-80);
}

.hover-white-70:hover, .hover-white-70:focus {
    color: var(--white-70);
}

.hover-white-60:hover, .hover-white-60:focus {
    color: var(--white-60);
}

.hover-white-50:hover, .hover-white-50:focus {
    color: var(--white-50);
}

.hover-white-40:hover, .hover-white-40:focus {
    color: var(--white-40);
}

.hover-white-30:hover, .hover-white-30:focus {
    color: var(--white-30);
}

.hover-white-20:hover, .hover-white-20:focus {
    color: var(--white-20);
}

.hover-white-10:hover, .hover-white-10:focus {
    color: var(--white-10);
}

.hover-alert-lightest:hover, .hover-alert-lightest:focus {
    color: var(--alert-lightest);
}

.hover-alert-light:hover, .hover-alert-light:focus {
    color: var(--alert-light);
}

.hover-alert:hover, .hover-alert:focus {
    color: var(--alert);
}

.hover-alert-dark:hover, .hover-alert-dark:focus {
    color: var(--alert-dark);
}

.hover-alert-darkest:hover, .hover-alert-darkest:focus {
    color: var(--alert-darkest);
}

.hover-success-lightest:hover, .hover-success-lightest:focus {
    color: var(--success-lightest);
}

.hover-success-light:hover, .hover-success-light:focus {
    color: var(--success-light);
}

.hover-success:hover, .hover-success:focus {
    color: var(--success);
}

.hover-success-dark:hover, .hover-success-dark:focus {
    color: var(--success-dark);
}

.hover-success-darkest:hover, .hover-success-darkest:focus {
    color: var(--success-darkest);
}

.hover-inherit:hover, .hover-inherit:focus {
    color: inherit;
}

.hover-decathlon:hover, .hover-decathlon:focus {
    color: var(--decathlon);
}

.hover-decathlon-light:hover, .hover-decathlon-light:focus {
    color: var(--decathlon-light);
}

.hover-yellowgram:hover, .hover-yellowgram:focus {
    color: var(--yellowgram);
}

.hover-primary-darkest:hover, .hover-primary-darkest:focus {
    color: var(--primary-darkest);
}

.hover-primary-dark:hover, .hover-primary-dark:focus {
    color: var(--primary-dark);
}

.hover-primary:hover, .hover-primary:focus {
    color: var(--primary);
}

.hover-primary-light:hover, .hover-primary-light:focus {
    color: var(--primary-light);
}

.hover-primary-lightest:hover, .hover-primary-lightest:focus {
    color: var(--primary-lightest);
}

.hover-secondary:hover, .hover-secondary:focus {
    color: var(--secondary);
}

.hover-inherit:hover, .hover-inherit:focus {
    color: inherit;
}

.hover-bg-black:hover, .hover-bg-black:focus {
    background-color: var(--black);
}

.hover-bg-white:hover, .hover-bg-white:focus {
    background-color: var(--white);
}

.hover-bg-alert-lightest:hover, .hover-bg-alert-lightest:focus {
    background-color: var(--alert-lightest);
}

.hover-bg-alert-light:hover, .hover-bg-alert-light:focus {
    background-color: var(--alert-light);
}

.hover-bg-alert:hover, .hover-bg-alert:focus {
    background-color: var(--alert);
}

.hover-bg-alert-dark:hover, .hover-bg-alert-dark:focus {
    background-color: var(--alert-dark);
}

.hover-bg-alert-darkest:hover, .hover-bg-alert-darkest:focus {
    background-color: var(--alert-darkest);
}

.hover-bg-success-lightest:hover, .hover-bg-success-lightest:focus {
    background-color: var(--success-lightest);
}

.hover-bg-success-light:hover, .hover-bg-success-light:focus {
    background-color: var(--success-light);
}

.hover-bg-success:hover, .hover-bg-success:focus {
    background-color: var(--success);
}

.hover-bg-success-dark:hover, .hover-bg-success-dark:focus {
    background-color: var(--success-dark);
}

.hover-bg-success-darkest:hover, .hover-bg-success-darkest:focus {
    background-color: var(--success-darkest);
}

.hover-bg-transparent:hover, .hover-bg-transparent:focus {
    background-color: var(--transparent);
}

.hover-bg-black-90:hover, .hover-bg-black-90:focus {
    background-color: var(--black-90);
}

.hover-bg-black-80:hover, .hover-bg-black-80:focus {
    background-color: var(--black-80);
}

.hover-bg-black-70:hover, .hover-bg-black-70:focus {
    background-color: var(--black-70);
}

.hover-bg-black-60:hover, .hover-bg-black-60:focus {
    background-color: var(--black-60);
}

.hover-bg-black-50:hover, .hover-bg-black-50:focus {
    background-color: var(--black-50);
}

.hover-bg-black-40:hover, .hover-bg-black-40:focus {
    background-color: var(--black-40);
}

.hover-bg-black-30:hover, .hover-bg-black-30:focus {
    background-color: var(--black-30);
}

.hover-bg-black-20:hover, .hover-bg-black-20:focus {
    background-color: var(--black-20);
}

.hover-bg-black-10:hover, .hover-bg-black-10:focus {
    background-color: var(--black-10);
}

.hover-bg-white-90:hover, .hover-bg-white-90:focus {
    background-color: var(--white-90);
}

.hover-bg-white-80:hover, .hover-bg-white-80:focus {
    background-color: var(--white-80);
}

.hover-bg-white-70:hover, .hover-bg-white-70:focus {
    background-color: var(--white-70);
}

.hover-bg-white-60:hover, .hover-bg-white-60:focus {
    background-color: var(--white-60);
}

.hover-bg-white-50:hover, .hover-bg-white-50:focus {
    background-color: var(--white-50);
}

.hover-bg-white-40:hover, .hover-bg-white-40:focus {
    background-color: var(--white-40);
}

.hover-bg-white-30:hover, .hover-bg-white-30:focus {
    background-color: var(--white-30);
}

.hover-bg-white-20:hover, .hover-bg-white-20:focus {
    background-color: var(--white-20);
}

.hover-bg-white-10:hover, .hover-bg-white-10:focus {
    background-color: var(--white-10);
}

.hover-bg-decathlon:hover, .hover-bg-decathlon:focus {
    background-color: var(--decathlon);
}

.hover-bg-decathlon-light:hover, .hover-bg-decathlon-light:focus {
    background-color: var(--decathlon-light);
}

.hover-bg-yellowgram:hover, .hover-bg-yellowgram:focus {
    background-color: var(--yellowgram);
}

.hover-bg-primary-darkest:hover, .hover-bg-primary-darkest:focus {
    background-color: var(--primary-darkest);
}

.hover-bg-primary-dark:hover, .hover-bg-primary-dark:focus {
    background-color: var(--primary-dark);
}

.hover-bg-primary:hover, .hover-bg-primary:focus {
    background-color: var(--primary);
}

.hover-bg-primary-light:hover, .hover-bg-primary-light:focus {
    background-color: var(--primary-light);
}

.hover-bg-primary-lightest:hover, .hover-bg-primary-lightest:focus {
    background-color: var(--primary-lightest);
}

.hover-bg-secondary:hover, .hover-bg-secondary:focus {
    background-color: var(--secondary);
}

.hover-bg-inherit:hover, .hover-bg-inherit:focus {
    background-color: inherit;
}

/* Hover fill */

.hover-fill-black:hover, .hover-fill-black:focus {
    fill: var(--black);
}

.hover-fill-white:hover, .hover-fill-white:focus {
    fill: var(--white);
}

.hover-fill-alert-lightest:hover, .hover-fill-alert-lightest:focus {
    fill: var(--alert-lightest);
}

.hover-fill-alert-light:hover, .hover-fill-alert-light:focus {
    fill: var(--alert-light);
}

.hover-fill-alert:hover, .hover-fill-alert:focus {
    fill: var(--alert);
}

.hover-fill-alert-dark:hover, .hover-fill-alert-dark:focus {
    fill: var(--alert-dark);
}

.hover-fill-alert-darkest:hover, .hover-fill-alert-darkest:focus {
    fill: var(--alert-darkest);
}

.hover-fill-success-lightest:hover, .hover-fill-success-lightest:focus {
    fill: var(--success-lightest);
}

.hover-fill-success-light:hover, .hover-fill-success-light:focus {
    fill: var(--success-light);
}

.hover-fill-success:hover, .hover-fill-success:focus {
    fill: var(--success);
}

.hover-fill-success-dark:hover, .hover-fill-success-dark:focus {
    fill: var(--success-dark);
}

.hover-fill-success-darkest:hover, .hover-fill-success-darkest:focus {
    fill: var(--success-darkest);
}

.hover-fill-outlook:hover, .hover-fill-outlook:focus {
    fill: var(--outlook);
}

.hover-fill-sharepoint:hover, .hover-fill-sharepoint:focus {
    fill: var(--sharepoint);
}

.hover-fill-teams:hover, .hover-fill-teams:focus {
    fill: var(--teams);
}

.hover-fill-planner:hover, .hover-fill-planner:focus {
    fill: var(--planner);
}

.hover-fill-one-drive:hover, .hover-fill-one-drive:focus {
    fill: var(--one-drive);
}

.hover-fill-decathlon:hover, .hover-fill-decathlon:focus {
    fill: var(--decathlon);
}

.hover-fill-decathlon-light:hover, .hover-fill-decathlon-light:focus {
    fill: var(--decathlon-light);
}

.hover-fill-yellowgram:hover, .hover-fill-yellowgram:focus {
    fill: var(--yellowgram);
}

.hover-fill-primary-darkest:hover, .hover-fill-primary-darkest:focus {
    fill: var(--primary-darkest);
}

.hover-fill-primary-dark:hover, .hover-fill-primary-dark:focus {
    fill: var(--primary-dark);
}

.hover-fill-primary:hover, .hover-fill-primary:focus {
    fill: var(--primary);
}

.hover-fill-primary-light:hover, .hover-fill-primary-light:focus {
    fill: var(--primary-light);
}

.hover-fill-primary-lightest:hover, .hover-fill-primary-lightest:focus {
    fill: var(--primary-lightest);
}

.hover-fill-secondary:hover, .hover-fill-secondary:focus {
    fill: var(--secondary);
}

.hover-fill-current-color:hover, .hover-fill-current-color:focus {
    fill: currentColor;
}

.hover-fill-inherit:hover, .hover-fill-inherit:focus {
    fill: inherit;
}