/* 
  
   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.
 
 */

.hover-black:hover, .hover-black:focus {
    color: var(--black);
}

.hover-white:hover, .hover-white:focus {
    color: var(--white);
}

.hover-black-90:hover, .hover-black-90:focus {
    color: var(--black-90);
}

.hover-black-80:hover, .hover-black-80:focus {
    color: var(--black-80);
}

.hover-black-70:hover, .hover-black-70:focus {
    color: var(--black-70);
}

.hover-black-60:hover, .hover-black-60:focus {
    color: var(--black-60);
}

.hover-black-50:hover, .hover-black-50:focus {
    color: var(--black-50);
}

.hover-black-40:hover, .hover-black-40:focus {
    color: var(--black-40);
}

.hover-black-30:hover, .hover-black-30:focus {
    color: var(--black-30);
}

.hover-black-20:hover, .hover-black-20:focus {
    color: var(--black-20);
}

.hover-black-10:hover, .hover-black-10:focus {
    color: var(--black-10);
}

.hover-white-90:hover, .hover-white-90:focus {
    color: var(--white-90);
}

.hover-white-80:hover, .hover-white-80:focus {
    color: var(--white-80);
}

.hover-white-70:hover, .hover-white-70:focus {
    color: var(--white-70);
}

.hover-white-60:hover, .hover-white-60:focus {
    color: var(--white-60);
}

.hover-white-50:hover, .hover-white-50:focus {
    color: var(--white-50);
}

.hover-white-40:hover, .hover-white-40:focus {
    color: var(--white-40);
}

.hover-white-30:hover, .hover-white-30:focus {
    color: var(--white-30);
}

.hover-white-20:hover, .hover-white-20:focus {
    color: var(--white-20);
}

.hover-white-10:hover, .hover-white-10:focus {
    color: var(--white-10);
}

.hover-marine-lightest:hover, .hover-marine-lightest:focus {
    color: var(--marine-lightest);
}

.hover-marine-light:hover, .hover-marine-light:focus {
    color: var(--marine-light);
}

.hover-marine:hover, .hover-marine:focus {
    color: var(--marine);
}

.hover-marine-dark:hover, .hover-marine-dark:focus {
    color: var(--marine-dark);
}

.hover-marine-darkest:hover, .hover-marine-darkest:focus {
    color: var(--marine-darkest);
}

.hover-desktop-lightest:hover, .hover-desktop-lightest:focus {
    color: var(--desktop-lightest);
}

.hover-desktop-light:hover, .hover-desktop-light:focus {
    color: var(--desktop-light);
}

.hover-desktop:hover, .hover-desktop:focus {
    color: var(--desktop);
}

.hover-desktop-dark:hover, .hover-desktop-dark:focus {
    color: var(--desktop-dark);
}

.hover-desktop-darkest:hover, .hover-desktop-darkest:focus {
    color: var(--desktop-darkest);
}

.hover-sunray-lightest:hover, .hover-sunray-lightest:focus {
    color: var(--sunray-lightest);
}

.hover-sunray-light:hover, .hover-sunray-light:focus {
    color: var(--sunray-light);
}

.hover-sunray:hover, .hover-sunray:focus {
    color: var(--sunray);
}

.hover-sunray-dark:hover, .hover-sunray-dark:focus {
    color: var(--sunray-dark);
}

.hover-sunray-darkest:hover, .hover-sunray-darkest:focus {
    color: var(--sunray-darkest);
}

.hover-apricot-lightest:hover, .hover-apricot-lightest:focus {
    color: var(--apricot-lightest);
}

.hover-apricot-light:hover, .hover-apricot-light:focus {
    color: var(--apricot-light);
}

.hover-apricot:hover, .hover-apricot:focus {
    color: var(--apricot);
}

.hover-apricot-dark:hover, .hover-apricot-dark:focus {
    color: var(--apricot-dark);
}

.hover-apricot-darkest:hover, .hover-apricot-darkest:focus {
    color: var(--apricot-darkest);
}

.hover-eggplant-lightest:hover, .hover-eggplant-lightest:focus {
    color: var(--eggplant-lightest);
}

.hover-eggplant-light:hover, .hover-eggplant-light:focus {
    color: var(--eggplant-light);
}

.hover-eggplant:hover, .hover-eggplant:focus {
    color: var(--eggplant);
}

.hover-eggplant-dark:hover, .hover-eggplant-dark:focus {
    color: var(--eggplant-dark);
}

.hover-eggplant-darkest:hover, .hover-eggplant-darkest:focus {
    color: var(--eggplant-darkest);
}

.hover-overcast-lightest:hover, .hover-overcast-lightest:focus {
    color: var(--overcast-lightest);
}

.hover-overcast-light:hover, .hover-overcast-light:focus {
    color: var(--overcast-light);
}

.hover-overcast:hover, .hover-overcast:focus {
    color: var(--overcast);
}

.hover-overcast-dark:hover, .hover-overcast-dark:focus {
    color: var(--overcast-dark);
}

.hover-overcast-darkest:hover, .hover-overcast-darkest:focus {
    color: var(--overcast-darkest);
}

.hover-moonstone-lightest:hover, .hover-moonstone-lightest:focus {
    color: var(--moonstone-lightest);
}

.hover-moonstone-light:hover, .hover-moonstone-light:focus {
    color: var(--moonstone-light);
}

.hover-moonstone:hover, .hover-moonstone:focus {
    color: var(--moonstone);
}

.hover-moonstone-dark:hover, .hover-moonstone-dark:focus {
    color: var(--moonstone-dark);
}

.hover-moonstone-darkest:hover, .hover-moonstone-darkest:focus {
    color: var(--moonstone-darkest);
}

.hover-jet-lightest:hover, .hover-jet-lightest:focus {
    color: var(--jet-lightest);
}

.hover-jet-light:hover, .hover-jet-light:focus {
    color: var(--jet-light);
}

.hover-jet:hover, .hover-jet:focus {
    color: var(--jet);
}

.hover-jet-dark:hover, .hover-jet-dark:focus {
    color: var(--jet-dark);
}

.hover-jet-darkest:hover, .hover-jet-darkest:focus {
    color: var(--jet-darkest);
}

.hover-cloud-lightest:hover, .hover-cloud-lightest:focus {
    color: var(--cloud-lightest);
}

.hover-cloud-light:hover, .hover-cloud-light:focus {
    color: var(--cloud-light);
}

.hover-cloud:hover, .hover-cloud:focus {
    color: var(--cloud);
}

.hover-cloud-dark:hover, .hover-cloud-dark:focus {
    color: var(--cloud-dark);
}

.hover-cloud-darkest:hover, .hover-cloud-darkest:focus {
    color: var(--cloud-darkest);
}

.hover-prune-lightest:hover, .hover-prune-lightest:focus {
    color: var(--prune-lightest);
}

.hover-prune-light:hover, .hover-prune-light:focus {
    color: var(--prune-light);
}

.hover-prune:hover, .hover-prune:focus {
    color: var(--prune);
}

.hover-prune-dark:hover, .hover-prune-dark:focus {
    color: var(--prune-dark);
}

.hover-prune-darkest:hover, .hover-prune-darkest:focus {
    color: var(--prune-darkest);
}

.hover-blueberry-lightest:hover, .hover-blueberry-lightest:focus {
    color: var(--blueberry-lightest);
}

.hover-blueberry-light:hover, .hover-blueberry-light:focus {
    color: var(--blueberry-light);
}

.hover-blueberry:hover, .hover-blueberry:focus {
    color: var(--blueberry);
}

.hover-blueberry-dark:hover, .hover-blueberry-dark:focus {
    color: var(--blueberry-dark);
}

.hover-blueberry-darkest:hover, .hover-blueberry-darkest:focus {
    color: var(--blueberry-darkest);
}

.hover-cherry-lightest:hover, .hover-cherry-lightest:focus {
    color: var(--cherry-lightest);
}

.hover-cherry-light:hover, .hover-cherry-light:focus {
    color: var(--cherry-light);
}

.hover-cherry:hover, .hover-cherry:focus {
    color: var(--cherry);
}

.hover-cherry-dark:hover, .hover-cherry-dark:focus {
    color: var(--cherry-dark);
}

.hover-cherry-darkest:hover, .hover-cherry-darkest:focus {
    color: var(--cherry-darkest);
}

.hover-warning-lightest:hover, .hover-warning-lightest:focus {
    color: var(--warning-lightest);
}

.hover-warning-light:hover, .hover-warning-light:focus {
    color: var(--warning-light);
}

.hover-warning:hover, .hover-warning:focus {
    color: var(--warning);
}

.hover-warning-dark:hover, .hover-warning-dark:focus {
    color: var(--warning-dark);
}

.hover-warning-darkest:hover, .hover-warning-darkest:focus {
    color: var(--warning-darkest);
}

.hover-success-lightest:hover, .hover-success-lightest:focus {
    color: var(--success-lightest);
}

.hover-success-light:hover, .hover-success-light:focus {
    color: var(--success-light);
}

.hover-success:hover, .hover-success:focus {
    color: var(--success);
}

.hover-success-dark:hover, .hover-success-dark:focus {
    color: var(--success-dark);
}

.hover-success-darkest:hover, .hover-success-darkest:focus {
    color: var(--success-darkest);
}

.hover-inherit:hover, .hover-inherit:focus {
    color: inherit;
}

.hover-outlook:hover, .hover-outlook:focus {
    color: var(--outlook);
}

.hover-sharepoint:hover, .hover-sharepoint:focus {
    color: var(--sharepoint);
}

.hover-teams:hover, .hover-teams:focus {
    color: var(--teams);
}

.hover-planner:hover, .hover-planner:focus {
    color: var(--planner);
}

.hover-one-drive:hover, .hover-one-drive:focus {
    color: var(--one-drive);
}

.hover-primary-darkest:hover, .hover-primary-darkest:focus {
    color: var(--primary-darkest);
}

.hover-primary-dark:hover, .hover-primary-dark:focus {
    color: var(--primary-dark);
}

.hover-primary:hover, .hover-primary:focus {
    color: var(--primary);
}

.hover-primary-light:hover, .hover-primary-light:focus {
    color: var(--primary-light);
}

.hover-primary-lightest:hover, .hover-primary-lightest:focus {
    color: var(--primary-lightest);
}

.hover-secondary:hover, .hover-secondary:focus {
    color: var(--secondary);
}

.hover-inherit:hover, .hover-inherit:focus {
    color: inherit;
}

.hover-bg-black:hover, .hover-bg-black:focus {
    background-color: var(--black);
}

.hover-bg-white:hover, .hover-bg-white:focus {
    background-color: var(--white);
}

.hover-bg-marine-lightest:hover, .hover-bg-marine-lightest:focus {
    background-color: var(--marine-lightest);
}

.hover-bg-marine-light:hover, .hover-bg-marine-light:focus {
    background-color: var(--marine-light);
}

.hover-bg-marine:hover, .hover-bg-marine:focus {
    background-color: var(--marine);
}

.hover-bg-marine-dark:hover, .hover-bg-marine-dark:focus {
    background-color: var(--marine-dark);
}

.hover-bg-marine-darkest:hover, .hover-bg-marine-darkest:focus {
    background-color: var(--marine-darkest);
}

.hover-bg-desktop-lightest:hover, .hover-bg-desktop-lightest:focus {
    background-color: var(--desktop-lightest);
}

.hover-bg-desktop-light:hover, .hover-bg-desktop-light:focus {
    background-color: var(--desktop-light);
}

.hover-bg-desktop:hover, .hover-bg-desktop:focus {
    background-color: var(--desktop);
}

.hover-bg-desktop-dark:hover, .hover-bg-desktop-dark:focus {
    background-color: var(--desktop-dark);
}

.hover-bg-desktop-darkest:hover, .hover-bg-desktop-darkest:focus {
    background-color: var(--desktop-darkest);
}

.hover-bg-sunray-lightest:hover, .hover-bg-sunray-lightest:focus {
    background-color: var(--sunray-lightest);
}

.hover-bg-sunray-light:hover, .hover-bg-sunray-light:focus {
    background-color: var(--sunray-light);
}

.hover-bg-sunray:hover, .hover-bg-sunray:focus {
    background-color: var(--sunray);
}

.hover-bg-sunray-dark:hover, .hover-bg-sunray-dark:focus {
    background-color: var(--sunray-dark);
}

.hover-bg-sunray-darkest:hover, .hover-bg-sunray-darkest:focus {
    background-color: var(--sunray-darkest);
}

.hover-bg-apricot-lightest:hover, .hover-bg-apricot-lightest:focus {
    background-color: var(--apricot-lightest);
}

.hover-bg-apricot-light:hover, .hover-bg-apricot-light:focus {
    background-color: var(--apricot-light);
}

.hover-bg-apricot:hover, .hover-bg-apricot:focus {
    background-color: var(--apricot);
}

.hover-bg-apricot-dark:hover, .hover-bg-apricot-dark:focus {
    background-color: var(--apricot-dark);
}

.hover-bg-apricot-darkest:hover, .hover-bg-apricot-darkest:focus {
    background-color: var(--apricot-darkest);
}

.hover-bg-eggplant-lightest:hover, .hover-bg-eggplant-lightest:focus {
    background-color: var(--eggplant-lightest);
}

.hover-bg-eggplant-light:hover, .hover-bg-eggplant-light:focus {
    background-color: var(--eggplant-light);
}

.hover-bg-eggplant:hover, .hover-bg-eggplant:focus {
    background-color: var(--eggplant);
}

.hover-bg-eggplant-dark:hover, .hover-bg-eggplant-dark:focus {
    background-color: var(--eggplant-dark);
}

.hover-bg-eggplant-darkest:hover, .hover-bg-eggplant-darkest:focus {
    background-color: var(--eggplant-darkest);
}

.hover-bg-overcast-lightest:hover, .hover-bg-overcast-lightest:focus {
    background-color: var(--overcast-lightest);
}

.hover-bg-overcast-light:hover, .hover-bg-overcast-light:focus {
    background-color: var(--overcast-light);
}

.hover-bg-overcast:hover, .hover-bg-overcast:focus {
    background-color: var(--overcast);
}

.hover-bg-overcast-dark:hover, .hover-bg-overcast-dark:focus {
    background-color: var(--overcast-dark);
}

.hover-bg-overcast-darkest:hover, .hover-bg-overcast-darkest:focus {
    background-color: var(--overcast-darkest);
}

.hover-bg-moonstone-lightest:hover, .hover-bg-moonstone-lightest:focus {
    background-color: var(--moonstone-lightest);
}

.hover-bg-moonstone-light:hover, .hover-bg-moonstone-light:focus {
    background-color: var(--moonstone-light);
}

.hover-bg-moonstone:hover, .hover-bg-moonstone:focus {
    background-color: var(--moonstone);
}

.hover-bg-moonstone-dark:hover, .hover-bg-moonstone-dark:focus {
    background-color: var(--moonstone-dark);
}

.hover-bg-moonstone-darkest:hover, .hover-bg-moonstone-darkest:focus {
    background-color: var(--moonstone-darkest);
}

.hover-bg-jet-lightest:hover, .hover-bg-jet-lightest:focus {
    background-color: var(--jet-lightest);
}

.hover-bg-jet-light:hover, .hover-bg-jet-light:focus {
    background-color: var(--jet-light);
}

.hover-bg-jet:hover, .hover-bg-jet:focus {
    background-color: var(--jet);
}

.hover-bg-jet-dark:hover, .hover-bg-jet-dark:focus {
    background-color: var(--jet-dark);
}

.hover-bg-jet-darkest:hover, .hover-bg-jet-darkest:focus {
    background-color: var(--jet-darkest);
}

.hover-bg-cloud-lightest:hover, .hover-bg-cloud-lightest:focus {
    background-color: var(--cloud-lightest);
}

.hover-bg-cloud-light:hover, .hover-bg-cloud-light:focus {
    background-color: var(--cloud-light);
}

.hover-bg-cloud:hover, .hover-bg-cloud:focus {
    background-color: var(--cloud);
}

.hover-bg-cloud-dark:hover, .hover-bg-cloud-dark:focus {
    background-color: var(--cloud-dark);
}

.hover-bg-cloud-darkest:hover, .hover-bg-cloud-darkest:focus {
    background-color: var(--cloud-darkest);
}

.hover-bg-prune-lightest:hover, .hover-bg-prune-lightest:focus {
    background-color: var(--prune-lightest);
}

.hover-bg-prune-light:hover, .hover-bg-prune-light:focus {
    background-color: var(--prune-light);
}

.hover-bg-prune:hover, .hover-bg-prune:focus {
    background-color: var(--prune);
}

.hover-bg-prune-dark:hover, .hover-bg-prune-dark:focus {
    background-color: var(--prune-dark);
}

.hover-bg-prune-darkest:hover, .hover-bg-prune-darkest:focus {
    background-color: var(--prune-darkest);
}

.hover-bg-blueberry-lightest:hover, .hover-bg-blueberry-lightest:focus {
    background-color: var(--blueberry-lightest);
}

.hover-bg-blueberry-light:hover, .hover-bg-blueberry-light:focus {
    background-color: var(--blueberry-light);
}

.hover-bg-blueberry:hover, .hover-bg-blueberry:focus {
    background-color: var(--blueberry);
}

.hover-bg-blueberry-dark:hover, .hover-bg-blueberry-dark:focus {
    background-color: var(--blueberry-dark);
}

.hover-bg-blueberry-darkest:hover, .hover-bg-blueberry-darkest:focus {
    background-color: var(--blueberry-darkest);
}

.hover-bg-cherry-lightest:hover, .hover-bg-cherry-lightest:focus {
    background-color: var(--cherry-lightest);
}

.hover-bg-cherry-light:hover, .hover-bg-cherry-light:focus {
    background-color: var(--cherry-light);
}

.hover-bg-cherry:hover, .hover-bg-cherry:focus {
    background-color: var(--cherry);
}

.hover-bg-cherry-dark:hover, .hover-bg-cherry-dark:focus {
    background-color: var(--cherry-dark);
}

.hover-bg-cherry-darkest:hover, .hover-bg-cherry-darkest:focus {
    background-color: var(--cherry-darkest);
}

.hover-bg-warning-lightest:hover, .hover-bg-warning-lightest:focus {
    background-color: var(--warning-lightest);
}

.hover-bg-warning-light:hover, .hover-bg-warning-light:focus {
    background-color: var(--warning-light);
}

.hover-bg-warning:hover, .hover-bg-warning:focus {
    background-color: var(--warning);
}

.hover-bg-warning-dark:hover, .hover-bg-warning-dark:focus {
    background-color: var(--warning-dark);
}

.hover-bg-warning-darkest:hover, .hover-bg-warning-darkest:focus {
    background-color: var(--warning-darkest);
}

.hover-bg-success-lightest:hover, .hover-bg-success-lightest:focus {
    background-color: var(--success-lightest);
}

.hover-bg-success-light:hover, .hover-bg-success-light:focus {
    background-color: var(--success-light);
}

.hover-bg-success:hover, .hover-bg-success:focus {
    background-color: var(--success);
}

.hover-bg-success-dark:hover, .hover-bg-success-dark:focus {
    background-color: var(--success-dark);
}

.hover-bg-success-darkest:hover, .hover-bg-success-darkest:focus {
    background-color: var(--success-darkest);
}

.hover-bg-transparent:hover, .hover-bg-transparent:focus {
    background-color: var(--transparent);
}

.hover-bg-black-90:hover, .hover-bg-black-90:focus {
    background-color: var(--black-90);
}

.hover-bg-black-80:hover, .hover-bg-black-80:focus {
    background-color: var(--black-80);
}

.hover-bg-black-70:hover, .hover-bg-black-70:focus {
    background-color: var(--black-70);
}

.hover-bg-black-60:hover, .hover-bg-black-60:focus {
    background-color: var(--black-60);
}

.hover-bg-black-50:hover, .hover-bg-black-50:focus {
    background-color: var(--black-50);
}

.hover-bg-black-40:hover, .hover-bg-black-40:focus {
    background-color: var(--black-40);
}

.hover-bg-black-30:hover, .hover-bg-black-30:focus {
    background-color: var(--black-30);
}

.hover-bg-black-20:hover, .hover-bg-black-20:focus {
    background-color: var(--black-20);
}

.hover-bg-black-10:hover, .hover-bg-black-10:focus {
    background-color: var(--black-10);
}

.hover-bg-white-90:hover, .hover-bg-white-90:focus {
    background-color: var(--white-90);
}

.hover-bg-white-80:hover, .hover-bg-white-80:focus {
    background-color: var(--white-80);
}

.hover-bg-white-70:hover, .hover-bg-white-70:focus {
    background-color: var(--white-70);
}

.hover-bg-white-60:hover, .hover-bg-white-60:focus {
    background-color: var(--white-60);
}

.hover-bg-white-50:hover, .hover-bg-white-50:focus {
    background-color: var(--white-50);
}

.hover-bg-white-40:hover, .hover-bg-white-40:focus {
    background-color: var(--white-40);
}

.hover-bg-white-30:hover, .hover-bg-white-30:focus {
    background-color: var(--white-30);
}

.hover-bg-white-20:hover, .hover-bg-white-20:focus {
    background-color: var(--white-20);
}

.hover-bg-white-10:hover, .hover-bg-white-10:focus {
    background-color: var(--white-10);
}

.hover-bg-primary-darkest:hover, .hover-bg-primary-darkest:focus {
    background-color: var(--primary-darkest);
}

.hover-bg-primary-dark:hover, .hover-bg-primary-dark:focus {
    background-color: var(--primary-dark);
}

.hover-bg-primary:hover, .hover-bg-primary:focus {
    background-color: var(--primary);
}

.hover-bg-primary-light:hover, .hover-bg-primary-light:focus {
    background-color: var(--primary-light);
}

.hover-bg-primary-lightest:hover, .hover-bg-primary-lightest:focus {
    background-color: var(--primary-lightest);
}

.hover-bg-secondary:hover, .hover-bg-secondary:focus {
    background-color: var(--secondary);
}

.hover-bg-outlook:hover, .hover-bg-outlook:focus {
    background-color: var(--outlook);
}

.hover-bg-sharepoint:hover, .hover-bg-sharepoint:focus {
    background-color: var(--sharepoint);
}

.hover-bg-teams:hover, .hover-bg-teams:focus {
    background-color: var(--teams);
}

.hover-bg-planner:hover, .hover-bg-planner:focus {
    background-color: var(--planner);
}

.hover-bg-one-drive:hover, .hover-bg-one-drive:focus {
    background-color: var(--one-drive);
}

.hover-bg-inherit:hover, .hover-bg-inherit:focus {
    background-color: inherit;
}

/* Hover fill */

.hover-fill-black:hover, .hover-fill-black:focus {
    fill: var(--black);
}

.hover-fill-white:hover, .hover-fill-white:focus {
    fill: var(--white);
}

.hover-fill-marine-lightest:hover, .hover-fill-marine-lightest:focus {
    fill: var(--marine-lightest);
}

.hover-fill-marine-light:hover, .hover-fill-marine-light:focus {
    fill: var(--marine-light);
}

.hover-fill-marine:hover, .hover-fill-marine:focus {
    fill: var(--marine);
}

.hover-fill-marine-dark:hover, .hover-fill-marine-dark:focus {
    fill: var(--marine-dark);
}

.hover-fill-marine-darkest:hover, .hover-fill-marine-darkest:focus {
    fill: var(--marine-darkest);
}

.hover-fill-desktop-lightest:hover, .hover-fill-desktop-lightest:focus {
    fill: var(--desktop-lightest);
}

.hover-fill-desktop-light:hover, .hover-fill-desktop-light:focus {
    fill: var(--desktop-light);
}

.hover-fill-desktop:hover, .hover-fill-desktop:focus {
    fill: var(--desktop);
}

.hover-fill-desktop-dark:hover, .hover-fill-desktop-dark:focus {
    fill: var(--desktop-dark);
}

.hover-fill-desktop-darkest:hover, .hover-fill-desktop-darkest:focus {
    fill: var(--desktop-darkest);
}

.hover-fill-sunray-lightest:hover, .hover-fill-sunray-lightest:focus {
    fill: var(--sunray-lightest);
}

.hover-fill-sunray-light:hover, .hover-fill-sunray-light:focus {
    fill: var(--sunray-light);
}

.hover-fill-sunray:hover, .hover-fill-sunray:focus {
    fill: var(--sunray);
}

.hover-fill-sunray-dark:hover, .hover-fill-sunray-dark:focus {
    fill: var(--sunray-dark);
}

.hover-fill-sunray-darkest:hover, .hover-fill-sunray-darkest:focus {
    fill: var(--sunray-darkest);
}

.hover-fill-apricot-lightest:hover, .hover-fill-apricot-lightest:focus {
    fill: var(--apricot-lightest);
}

.hover-fill-apricot-light:hover, .hover-fill-apricot-light:focus {
    fill: var(--apricot-light);
}

.hover-fill-apricot:hover, .hover-fill-apricot:focus {
    fill: var(--apricot);
}

.hover-fill-apricot-dark:hover, .hover-fill-apricot-dark:focus {
    fill: var(--apricot-dark);
}

.hover-fill-apricot-darkest:hover, .hover-fill-apricot-darkest:focus {
    fill: var(--apricot-darkest);
}

.hover-fill-eggplant-lightest:hover, .hover-fill-eggplant-lightest:focus {
    fill: var(--eggplant-lightest);
}

.hover-fill-eggplant-light:hover, .hover-fill-eggplant-light:focus {
    fill: var(--eggplant-light);
}

.hover-fill-eggplant:hover, .hover-fill-eggplant:focus {
    fill: var(--eggplant);
}

.hover-fill-eggplant-dark:hover, .hover-fill-eggplant-dark:focus {
    fill: var(--eggplant-dark);
}

.hover-fill-eggplant-darkest:hover, .hover-fill-eggplant-darkest:focus {
    fill: var(--eggplant-darkest);
}

.hover-fill-overcast-lightest:hover, .hover-fill-overcast-lightest:focus {
    fill: var(--overcast-lightest);
}

.hover-fill-overcast-light:hover, .hover-fill-overcast-light:focus {
    fill: var(--overcast-light);
}

.hover-fill-overcast:hover, .hover-fill-overcast:focus {
    fill: var(--overcast);
}

.hover-fill-overcast-dark:hover, .hover-fill-overcast-dark:focus {
    fill: var(--overcast-dark);
}

.hover-fill-overcast-darkest:hover, .hover-fill-overcast-darkest:focus {
    fill: var(--overcast-darkest);
}

.hover-fill-moonstone-lightest:hover, .hover-fill-moonstone-lightest:focus {
    fill: var(--moonstone-lightest);
}

.hover-fill-moonstone-light:hover, .hover-fill-moonstone-light:focus {
    fill: var(--moonstone-light);
}

.hover-fill-moonstone:hover, .hover-fill-moonstone:focus {
    fill: var(--moonstone);
}

.hover-fill-moonstone-dark:hover, .hover-fill-moonstone-dark:focus {
    fill: var(--moonstone-dark);
}

.hover-fill-moonstone-darkest:hover, .hover-fill-moonstone-darkest:focus {
    fill: var(--moonstone-darkest);
}

.hover-fill-jet-lightest:hover, .hover-fill-jet-lightest:focus {
    fill: var(--jet-lightest);
}

.hover-fill-jet-light:hover, .hover-fill-jet-light:focus {
    fill: var(--jet-light);
}

.hover-fill-jet:hover, .hover-fill-jet:focus {
    fill: var(--jet);
}

.hover-fill-jet-dark:hover, .hover-fill-jet-dark:focus {
    fill: var(--jet-dark);
}

.hover-fill-jet-darkest:hover, .hover-fill-jet-darkest:focus {
    fill: var(--jet-darkest);
}

.hover-fill-cloud-lightest:hover, .hover-fill-cloud-lightest:focus {
    fill: var(--cloud-lightest);
}

.hover-fill-cloud-light:hover, .hover-fill-cloud-light:focus {
    fill: var(--cloud-light);
}

.hover-fill-cloud:hover, .hover-fill-cloud:focus {
    fill: var(--cloud);
}

.hover-fill-cloud-dark:hover, .hover-fill-cloud-dark:focus {
    fill: var(--cloud-dark);
}

.hover-fill-cloud-darkest:hover, .hover-fill-cloud-darkest:focus {
    fill: var(--cloud-darkest);
}

.hover-fill-prune-lightest:hover, .hover-fill-prune-lightest:focus {
    fill: var(--prune-lightest);
}

.hover-fill-prune-light:hover, .hover-fill-prune-light:focus {
    fill: var(--prune-light);
}

.hover-fill-prune:hover, .hover-fill-prune:focus {
    fill: var(--prune);
}

.hover-fill-prune-dark:hover, .hover-fill-prune-dark:focus {
    fill: var(--prune-dark);
}

.hover-fill-prune-darkest:hover, .hover-fill-prune-darkest:focus {
    fill: var(--prune-darkest);
}

.hover-fill-blueberry-lightest:hover, .hover-fill-blueberry-lightest:focus {
    fill: var(--blueberry-lightest);
}

.hover-fill-blueberry-light:hover, .hover-fill-blueberry-light:focus {
    fill: var(--blueberry-light);
}

.hover-fill-blueberry:hover, .hover-fill-blueberry:focus {
    fill: var(--blueberry);
}

.hover-fill-blueberry-dark:hover, .hover-fill-blueberry-dark:focus {
    fill: var(--blueberry-dark);
}

.hover-fill-blueberry-darkest:hover, .hover-fill-blueberry-darkest:focus {
    fill: var(--blueberry-darkest);
}

.hover-fill-cherry-lightest:hover, .hover-fill-cherry-lightest:focus {
    fill: var(--cherry-lightest);
}

.hover-fill-cherry-light:hover, .hover-fill-cherry-light:focus {
    fill: var(--cherry-light);
}

.hover-fill-cherry:hover, .hover-fill-cherry:focus {
    fill: var(--cherry);
}

.hover-fill-cherry-dark:hover, .hover-fill-cherry-dark:focus {
    fill: var(--cherry-dark);
}

.hover-fill-cherry-darkest:hover, .hover-fill-cherry-darkest:focus {
    fill: var(--cherry-darkest);
}

.hover-fill-warning-lightest:hover, .hover-fill-warning-lightest:focus {
    fill: var(--warning-lightest);
}

.hover-fill-warning-light:hover, .hover-fill-warning-light:focus {
    fill: var(--warning-light);
}

.hover-fill-warning:hover, .hover-fill-warning:focus {
    fill: var(--warning);
}

.hover-fill-warning-dark:hover, .hover-fill-warning-dark:focus {
    fill: var(--warning-dark);
}

.hover-fill-warning-darkest:hover, .hover-fill-warning-darkest:focus {
    fill: var(--warning-darkest);
}

.hover-fill-success-lightest:hover, .hover-fill-success-lightest:focus {
    fill: var(--success-lightest);
}

.hover-fill-success-light:hover, .hover-fill-success-light:focus {
    fill: var(--success-light);
}

.hover-fill-success:hover, .hover-fill-success:focus {
    fill: var(--success);
}

.hover-fill-success-dark:hover, .hover-fill-success-dark:focus {
    fill: var(--success-dark);
}

.hover-fill-success-darkest:hover, .hover-fill-success-darkest:focus {
    fill: var(--success-darkest);
}

.hover-fill-outlook:hover, .hover-fill-outlook:focus {
    fill: var(--outlook);
}

.hover-fill-sharepoint:hover, .hover-fill-sharepoint:focus {
    fill: var(--sharepoint);
}

.hover-fill-teams:hover, .hover-fill-teams:focus {
    fill: var(--teams);
}

.hover-fill-planner:hover, .hover-fill-planner:focus {
    fill: var(--planner);
}

.hover-fill-one-drive:hover, .hover-fill-one-drive:focus {
    fill: var(--one-drive);
}

.hover-fill-primary-darkest:hover, .hover-fill-primary-darkest:focus {
    fill: var(--primary-darkest);
}

.hover-fill-primary-dark:hover, .hover-fill-primary-dark:focus {
    fill: var(--primary-dark);
}

.hover-fill-primary:hover, .hover-fill-primary:focus {
    fill: var(--primary);
}

.hover-fill-primary-light:hover, .hover-fill-primary-light:focus {
    fill: var(--primary-light);
}

.hover-fill-primary-lightest:hover, .hover-fill-primary-lightest:focus {
    fill: var(--primary-lightest);
}

.hover-fill-secondary:hover, .hover-fill-secondary:focus {
    fill: var(--secondary);
}

.hover-fill-current-color:hover, .hover-fill-current-color:focus {
    fill: currentColor;
}

.hover-fill-inherit:hover, .hover-fill-inherit:focus {
    fill: inherit;
}