/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will 
   be set to the current text color. 

*/

/* Text colors */

.black-90 {
    color: var(--black-90);
}

.black-80 {
    color: var(--black-80);
}

.black-70 {
    color: var(--black-70);
}

.black-60 {
    color: var(--black-60);
}

.black-50 {
    color: var(--black-50);
}

.black-40 {
    color: var(--black-40);
}

.black-30 {
    color: var(--black-30);
}

.black-20 {
    color: var(--black-20);
}

.black-10 {
    color: var(--black-10);
}

.black-05 {
    color: var(--black-05);
}

.white-90 {
    color: var(--white-90);
}

.white-80 {
    color: var(--white-80);
}

.white-70 {
    color: var(--white-70);
}

.white-60 {
    color: var(--white-60);
}

.white-50 {
    color: var(--white-50);
}

.white-40 {
    color: var(--white-40);
}

.white-30 {
    color: var(--white-30);
}

.white-20 {
    color: var(--white-20);
}

.white-10 {
    color: var(--white-10);
}

.white-05 {
    color: var(--white-05);
}

.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

.alert-lightest {
    color: var(--alert-lightest);
}

.alert-light {
    color: var(--alert-light);
}

.alert {
    color: var(--alert);
}

.alert-dark {
    color: var(--alert-dark);
}

.alert-darkest {
    color: var(--alert-darkest);
}

.success-lightest {
    color: var(--success-lightest);
}

.success-light {
    color: var(--success-light);
}

.success {
    color: var(--success);
}

.success-dark {
    color: var(--success-dark);
}

.success-darkest {
    color: var(--success-darkest);
}

.decathlon {
    color: var(--decathlon);
}

.decathlon-light {
    color: var(--decathlon-light);
}

.decathlon-lightest {
    color: var(--decathlon-lightest);
}

.decathlon-dark {
    color: var(--decathlon-lightest);
}

.decathlon-darkest {
    color: var(--decathlon-lightest);
}

.yellowgram {
    color: var(--yellowgram);
}

.yellowgram-light {
    color: var(--yellowgram-light);
}

.primary-darkest {
    color: var(--primary-darkest);
}

.primary-dark {
    color: var(--primary-dark);
}

.primary {
    color: var(--primary);
}

.primary-light {
    color: var(--primary-light);
}

.primary-lightest {
    color: var(--primary-lightest);
}

.secondary {
    color: var(--secondary);
}

.color-transparent {
    color: transparent;
}

.color-inherit {
    color: inherit;
}

.bg-black-90 {
    background-color: var(--black-90);
}

.bg-black-80 {
    background-color: var(--black-80);
}

.bg-black-70 {
    background-color: var(--black-70);
}

.bg-black-60 {
    background-color: var(--black-60);
}

.bg-black-50 {
    background-color: var(--black-50);
}

.bg-black-40 {
    background-color: var(--black-40);
}

.bg-black-30 {
    background-color: var(--black-30);
}

.bg-black-20 {
    background-color: var(--black-20);
}

.bg-black-10 {
    background-color: var(--black-10);
}

.bg-black-05 {
    background-color: var(--black-05);
}

.bg-white-90 {
    background-color: var(--white-90);
}

.bg-white-80 {
    background-color: var(--white-80);
}

.bg-white-70 {
    background-color: var(--white-70);
}

.bg-white-60 {
    background-color: var(--white-60);
}

.bg-white-50 {
    background-color: var(--white-50);
}

.bg-white-40 {
    background-color: var(--white-40);
}

.bg-white-30 {
    background-color: var(--white-30);
}

.bg-white-20 {
    background-color: var(--white-20);
}

.bg-white-10 {
    background-color: var(--white-10);
}

/* Background colors */

.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-alert-lightest {
    background-color: var(--alert-lightest);
}

.bg-alert-light {
    background-color: var(--alert-light);
}

.bg-alert {
    background-color: var(--alert);
}

.bg-alert-dark {
    background-color: var(--alert-dark);
}

.bg-alert-darkest {
    background-color: var(--alert-darkest);
}

.bg-success-lightest {
    background-color: var(--success-lightest);
}

.bg-success-light {
    background-color: var(--success-light);
}

.bg-success {
    background-color: var(--success);
}

.bg-success-dark {
    background-color: var(--success-dark);
}

.bg-success-darkest {
    background-color: var(--success-darkest);
}

.bg-decathlon {
    background-color: var(--decathlon);
}

.bg-decathlon-light {
    background-color: var(--decathlon-light);
}

.bg-decathlon-lightest {
    background-color: var(--decathlon-lightest);
}

.bg-decathlon-dark {
    background-color: var(--decathlon-dark);
}

.bg-decathlon-darkest {
    background-color: var(--decathlon-darkest);
}

.bg-yellowgram {
    background-color: var(--yellowgram);
}

.bg-yellowgram-light {
    background-color: var(--yellowgram-light);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-primary-dark {
    background-color: var(--primary-dark);
}

.bg-primary-darkest {
    background-color: var(--primary-darkest);
}

.bg-primary-light {
    background-color: var(--primary-light);
}

.bg-primary-lightest {
    background-color: var(--primary-lightest);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-transparent {
    background-color: var(--transparent);
}

.bg-inherit {
    background-color: inherit;
}

/* Fill - for SVGs */

.fill-black {
    fill: var(--black);
}

.fill-white {
    fill: var(--white);
}

.fill-alert-lightest {
    fill: var(--alert-lightest);
}

.fill-alert-light {
    fill: var(--alert-light);
}

.fill-alert {
    fill: var(--alert);
}

.fill-alert-dark {
    fill: var(--alert-dark);
}

.fill-alert-darkest {
    fill: var(--alert-darkest);
}

.fill-success-lightest {
    fill: var(--success-lightest);
}

.fill-success-light {
    fill: var(--success-light);
}

.fill-success {
    fill: var(--success);
}

.fill-success-dark {
    fill: var(--success-dark);
}

.fill-success-darkest {
    fill: var(--success-darkest);
}

.fill-decathlon {
    fill: var(--decathlon);
}

.fill-decathlon-light {
    fill: var(--decathlon-light);
}

.fill-decathlon-lightest {
    fill: var(--decathlon-lightest);
}

.fill-decathlon-dark {
    fill: var(--decathlon-dark);
}

.fill-decathlon-darkest {
    fill: var(--decathlon-darkest);
}

.fill-yellowgram {
    fill: var(--yellowgram);
}

.fill-yellowgram-lightest {
    fill: var(--yellowgram-lightest);
}

.fill-primary {
    fill: var(--primary);
}

.fill-primary-dark {
    fill: var(--primary-dark);
}

.fill-primary-darkest {
    fill: var(--primary-darkest);
}

.fill-primary-light {
    fill: var(--primary-light);
}

.fill-primary-lightest {
    fill: var(--primary-lightest);
}

.fill-secondary {
    fill: var(--secondary);
}

.fill-transparent:hover, .fill:focus {
    fill: var(--transparent);
}

.fill-inherit {
    fill: inherit;
}

.fill-current-color {
    fill: currentColor;
}