/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will 
   be set to the current text color. 

*/

/* Text colors */

.black-90 {
    color: var(--black-90);
}

.black-80 {
    color: var(--black-80);
}

.black-70 {
    color: var(--black-70);
}

.black-60 {
    color: var(--black-60);
}

.black-50 {
    color: var(--black-50);
}

.black-40 {
    color: var(--black-40);
}

.black-30 {
    color: var(--black-30);
}

.black-20 {
    color: var(--black-20);
}

.black-10 {
    color: var(--black-10);
}

.black-05 {
    color: var(--black-05);
}

.white-90 {
    color: var(--white-90);
}

.white-80 {
    color: var(--white-80);
}

.white-70 {
    color: var(--white-70);
}

.white-60 {
    color: var(--white-60);
}

.white-50 {
    color: var(--white-50);
}

.white-40 {
    color: var(--white-40);
}

.white-30 {
    color: var(--white-30);
}

.white-20 {
    color: var(--white-20);
}

.white-10 {
    color: var(--white-10);
}

.white-05 {
    color: var(--white-05);
}

.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

.marine-lightest {
    color: var(--marine-lightest);
}

.marine-light {
    color: var(--marine-light);
}

.marine {
    color: var(--marine);
}

.marine-dark {
    color: var(--marine-dark);
}

.marine-darkest {
    color: var(--marine-darkest);
}

.desktop-lightest {
    color: var(--desktop-lightest);
}

.desktop-light {
    color: var(--desktop-light);
}

.desktop {
    color: var(--desktop);
}

.desktop-dark {
    color: var(--desktop-dark);
}

.desktop-darkest {
    color: var(--desktop-darkest);
}

.sunray-lightest {
    color: var(--sunray-lightest);
}

.sunray-light {
    color: var(--sunray-light);
}

.sunray {
    color: var(--sunray);
}

.sunray-dark {
    color: var(--sunray-dark);
}

.sunray-darkest {
    color: var(--sunray-darkest);
}

.apricot-lightest {
    color: var(--apricot-lightest);
}

.apricot-light {
    color: var(--apricot-light);
}

.apricot {
    color: var(--apricot);
}

.apricot-dark {
    color: var(--apricot-dark);
}

.apricot-darkest {
    color: var(--apricot-darkest);
}

.eggplant-lightest {
    color: var(--eggplant-lightest);
}

.eggplant-light {
    color: var(--eggplant-light);
}

.eggplant {
    color: var(--eggplant);
}

.eggplant-dark {
    color: var(--eggplant-dark);
}

.eggplant-darkest {
    color: var(--eggplant-darkest);
}

.overcast-lightest {
    color: var(--overcast-lightest);
}

.overcast-light {
    color: var(--overcast-light);
}

.overcast {
    color: var(--overcast);
}

.overcast-dark {
    color: var(--overcast-dark);
}

.overcast-darkest {
    color: var(--overcast-darkest);
}

.moonstone-lightest {
    color: var(--moonstone-lightest);
}

.moonstone-light {
    color: var(--moonstone-light);
}

.moonstone {
    color: var(--moonstone);
}

.moonstone-dark {
    color: var(--moonstone-dark);
}

.moonstone-darkest {
    color: var(--moonstone-darkest);
}

.jet-lightest {
    color: var(--jet-lightest);
}

.jet-light {
    color: var(--jet-light);
}

.jet {
    color: var(--jet);
}

.jet-dark {
    color: var(--jet-dark);
}

.jet-darkest {
    color: var(--jet-darkest);
}

.cloud-lightest {
    color: var(--cloud-lightest);
}

.cloud-light {
    color: var(--cloud-light);
}

.cloud {
    color: var(--cloud);
}

.cloud-dark {
    color: var(--cloud-dark);
}

.cloud-darkest {
    color: var(--cloud-darkest);
}

.outlook {
    color: var(--outlook);
}

.sharepoint {
    color: var(--sharepoint);
}

.teams {
    color: var(--teams);
}

.planner {
    color: var(--planner);
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.color-transparent {
    color: transparent;
}

.color-inherit {
    color: inherit;
}

.bg-black-90 {
    background-color: var(--black-90);
}

.bg-black-80 {
    background-color: var(--black-80);
}

.bg-black-70 {
    background-color: var(--black-70);
}

.bg-black-60 {
    background-color: var(--black-60);
}

.bg-black-50 {
    background-color: var(--black-50);
}

.bg-black-40 {
    background-color: var(--black-40);
}

.bg-black-30 {
    background-color: var(--black-30);
}

.bg-black-20 {
    background-color: var(--black-20);
}

.bg-black-10 {
    background-color: var(--black-10);
}

.bg-black-05 {
    background-color: var(--black-05);
}

.bg-white-90 {
    background-color: var(--white-90);
}

.bg-white-80 {
    background-color: var(--white-80);
}

.bg-white-70 {
    background-color: var(--white-70);
}

.bg-white-60 {
    background-color: var(--white-60);
}

.bg-white-50 {
    background-color: var(--white-50);
}

.bg-white-40 {
    background-color: var(--white-40);
}

.bg-white-30 {
    background-color: var(--white-30);
}

.bg-white-20 {
    background-color: var(--white-20);
}

.bg-white-10 {
    background-color: var(--white-10);
}

/* Background colors */

.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-marine-lightest {
    background-color: var(--marine-lightest);
}

.bg-marine-light {
    background-color: var(--marine-light);
}

.bg-marine {
    background-color: var(--marine);
}

.bg-marine-dark {
    background-color: var(--marine-dark);
}

.bg-marine-darkest {
    background-color: var(--marine-darkest);
}

.bg-desktop-lightest {
    background-color: var(--desktop-lightest);
}

.bg-desktop-light {
    background-color: var(--desktop-light);
}

.bg-desktop {
    background-color: var(--desktop);
}

.bg-desktop-dark {
    background-color: var(--desktop-dark);
}

.bg-desktop-darkest {
    background-color: var(--desktop-darkest);
}

.bg-sunray-lightest {
    background-color: var(--sunray-lightest);
}

.bg-sunray-light {
    background-color: var(--sunray-light);
}

.bg-sunray {
    background-color: var(--sunray);
}

.bg-sunray-dark {
    background-color: var(--sunray-dark);
}

.bg-sunray-darkest {
    background-color: var(--sunray-darkest);
}

.bg-apricot-lightest {
    background-color: var(--apricot-lightest);
}

.bg-apricot-light {
    background-color: var(--apricot-light);
}

.bg-apricot {
    background-color: var(--apricot);
}

.bg-apricot-dark {
    background-color: var(--apricot-dark);
}

.bg-apricot-darkest {
    background-color: var(--apricot-darkest);
}

.bg-eggplant-lightest {
    background-color: var(--eggplant-lightest);
}

.bg-eggplant-light {
    background-color: var(--eggplant-light);
}

.bg-eggplant {
    background-color: var(--eggplant);
}

.bg-eggplant-dark {
    background-color: var(--eggplant-dark);
}

.bg-eggplant-darkest {
    background-color: var(--eggplant-darkest);
}

.bg-overcast-lightest {
    background-color: var(--overcast-lightest);
}

.bg-overcast-light {
    background-color: var(--overcast-light);
}

.bg-overcast {
    background-color: var(--overcast);
}

.bg-overcast-dark {
    background-color: var(--overcast-dark);
}

.bg-overcast-darkest {
    background-color: var(--overcast-darkest);
}

.bg-moonstone-lightest {
    background-color: var(--moonstone-lightest);
}

.bg-moonstone-light {
    background-color: var(--moonstone-light);
}

.bg-moonstone {
    background-color: var(--moonstone);
}

.bg-moonstone-dark {
    background-color: var(--moonstone-dark);
}

.bg-moonstone-darkest {
    background-color: var(--moonstone-darkest);
}

.bg-jet-lightest {
    background-color: var(--jet-lightest);
}

.bg-jet-light {
    background-color: var(--jet-light);
}

.bg-jet {
    background-color: var(--jet);
}

.bg-jet-dark {
    background-color: var(--jet-dark);
}

.bg-jet-darkest {
    background-color: var(--jet-darkest);
}

.bg-cloud-lightest {
    background-color: var(--cloud-lightest);
}

.bg-cloud-light {
    background-color: var(--cloud-light);
}

.bg-cloud {
    background-color: var(--cloud);
}

.bg-cloud-dark {
    background-color: var(--cloud-dark);
}

.bg-cloud-darkest {
    background-color: var(--cloud-darkest);
}

/* Vendors colors */

.bg-outlook {
    background-color: var(--outlook);
}

.bg-sharepoint {
    background-color: var(--sharepoint);
}

.bg-teams {
    background-color: var(--teams);
}

.bg-planner {
    background-color: var(--planner);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-transparent {
    background-color: var(--transparent);
}

.bg-inherit {
    background-color: inherit;
}

/* Fill - for SVGs */

.fill-black {
    fill: var(--black);
}

.fill-white {
    fill: var(--white);
}

.fill-marine-lightest {
    fill: var(--marine-lightest);
}

.fill-marine-light {
    fill: var(--marine-light);
}

.fill-marine {
    fill: var(--marine);
}

.fill-marine-dark {
    fill: var(--marine-dark);
}

.fill-marine-darkest {
    fill: var(--marine-darkest);
}

.fill-desktop-lightest {
    fill: var(--desktop-lightest);
}

.fill-desktop-light {
    fill: var(--desktop-light);
}

.fill-desktop {
    fill: var(--desktop);
}

.fill-desktop-dark {
    fill: var(--desktop-dark);
}

.fill-desktop-darkest {
    fill: var(--desktop-darkest);
}

.fill-sunray-lightest {
    fill: var(--sunray-lightest);
}

.fill-sunray-light {
    fill: var(--sunray-light);
}

.fill-sunray {
    fill: var(--sunray);
}

.fill-sunray-dark {
    fill: var(--sunray-dark);
}

.fill-sunray-darkest {
    fill: var(--sunray-darkest);
}

.fill-apricot-lightest {
    fill: var(--apricot-lightest);
}

.fill-apricot-light {
    fill: var(--apricot-light);
}

.fill-apricot {
    fill: var(--apricot);
}

.fill-apricot-dark {
    fill: var(--apricot-dark);
}

.fill-apricot-darkest {
    fill: var(--apricot-darkest);
}

.fill-eggplant-lightest {
    fill: var(--eggplant-lightest);
}

.fill-eggplant-light {
    fill: var(--eggplant-light);
}

.fill-eggplant {
    fill: var(--eggplant);
}

.fill-eggplant-dark {
    fill: var(--eggplant-dark);
}

.fill-eggplant-darkest {
    fill: var(--eggplant-darkest);
}

.fill-overcast-lightest {
    fill: var(--overcast-lightest);
}

.fill-overcast-light {
    fill: var(--overcast-light);
}

.fill-overcast {
    fill: var(--overcast);
}

.fill-overcast-dark {
    fill: var(--overcast-dark);
}

.fill-overcast-darkest {
    fill: var(--overcast-darkest);
}

.fill-moonstone-lightest {
    fill: var(--moonstone-lightest);
}

.fill-moonstone-light {
    fill: var(--moonstone-light);
}

.fill-moonstone {
    fill: var(--moonstone);
}

.fill-moonstone-dark {
    fill: var(--moonstone-dark);
}

.fill-moonstone-darkest {
    fill: var(--moonstone-darkest);
}

.fill-jet-lightest {
    fill: var(--jet-lightest);
}

.fill-jet-light {
    fill: var(--jet-light);
}

.fill-jet {
    fill: var(--jet);
}

.fill-jet-dark {
    fill: var(--jet-dark);
}

.fill-jet-darkest {
    fill: var(--jet-darkest);
}

.fill-cloud-lightest {
    fill: var(--cloud-lightest);
}

.fill-cloud-light {
    fill: var(--cloud-light);
}

.fill-cloud {
    fill: var(--cloud);
}

.fill-cloud-dark {
    fill: var(--cloud-dark);
}

.fill-cloud-darkest {
    fill: var(--cloud-darkest);
}

.fill-outlook {
    fill: var(--outlook);
}

.fill-sharepoint {
    fill: var(--sharepoint);
}

.fill-teams {
    fill: var(--teams);
}

.fill-planner {
    fill: var(--planner);
}

.fill-primary {
    fill: var(--primary);
}

.fill-secondary {
    fill: var(--secondary);
}

.fill-transparent:hover, .fill:focus {
    fill: var(--transparent);
}

.fill-inherit {
    fill: inherit;
}

.fill-current-color {
    fill: currentColor;
}